.kp-column-adder-root {
  padding: 8px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border: 1;
  border-width: 0.5px;
  border-radius: 4px;
  background-color: #e6e6e6;
}

.kp-column-adder-label {
  display: flex;
  width: 100%;
  font-size: 14px;
  color: #767676;
}

.kp-column-adder-textbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  min-height: 32px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.kp-column-adder-save-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
}