.kp-card-item-adder-root {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    background-color: #ffffff;
    cursor: pointer;
    border: 1;
    border-radius: 4px;
    padding: 8px;
    margin-top: 4px;
  }
  
  .kp-card-item-adder-label {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
  }